@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Yanone+Kaffeesatz:wght@300;500&display=swap');

body {
    background: #f8edeb;
}

caption {
    text-align: left;
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    font-size: 17pt;
}

.HeadRowTableForWorkouts {
    background: #6D6875;
    color: white;
    height: 3em;
}

td {
    text-align: center;
    padding: 10px,0,10px,0;
    height: 50px;
}


.tableForWorkouts {
    position: absolute;
    top: 10%;
    border-collapse: collapse;
    width: 90%;
    left: 5%;
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    line-height: 1.8;
   
}

    .tableForWorkouts .rowSelect:nth-child(even) {
        background: #FAE1DD;
    }

.fas {
    color: #b5838d;
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
}
.BigWindow {
    position: absolute;
    width: 50%;
    padding: 30px;
    left: 25%;
    top: 15%;
    border: 0px solid green;
    border-radius: 15px;
    box-shadow: -1px 1px 36px 19px rgba(254,197,187,0.29);
    -webkit-box-shadow: -1px 1px 36px 19px rgba(254,197,187,0.29);
    -moz-box-shadow: -1px 1px 36px 19px rgba(254,197,187,0.29);
}

.SmallWindow input {
    margin: 3% 20% 3% 20%;
    width: 60%;
    height: 30px;
    font-family: "Comfortaa", sans-serif;
}

.SmallWindow textarea {
    margin: 3% 20% 3% 20%;
    width: 60%;
    height: 300px;
    max-width: 60%;
    min-width: 60%;
    font-family: "Comfortaa", sans-serif;
}

.SmallWindow select {
    margin: 3% 20% 3% 20%;
    width: 60%;
    height: 30px;
    font-family: "Comfortaa", sans-serif;
}
 #Caption {
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
}
.Name {
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
}

.Description {
    display: block;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    line-height: 1.8;
}
.btnEditAndBack {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: 0,1em,0,1em;
    outline: none;
    transition: 0.2s;
    width: 30%;
    text-align: center;
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin-left: 12%;
    background: #B5838D;
}

.BtnLink {
    text-decoration: none;
    color: white;
}

.btnEditAndBack:hover {
    background: #6D6875;
}

.btnEditAndBack:active {
    background: #6D6875;
}

div.Elements {
    position: absolute;
    width: 50%;
    margin: 1% 25% 50% 27%;
    padding-bottom:20%;
}
h2.Elements {
    margin: 33% 25% 0% 36%;
    font-family: "Comfortaa", sans-serif;
}

.AddExercise {
    position: inherit;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    height: 3em;
    color: white;
    background: #6D6875;
    border: 2px solid White;
    font-family: "Comfortaa", sans-serif;
    outline: none;
    transition:0.2s;
}

.AddExercise:hover {
    background: rgba(255,255,255,.2)
}
.DeleteExercise {
    position: inherit;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    height: 3em;
    color: white;
    background: #6D6875;
    border: 2px solid White;
    font-family: "Comfortaa", sans-serif;
    outline: none;
    transition: 0.2s;
}

    .DeleteExercise:hover {
        background: rgba(128, 0, 0,.4)
    }
#forDropDownList {
    font-family: "Comfortaa", sans-serif;
    position: absolute;
    left: 75%;
    top:77.5%;
    outline:none;
    font-size:20px;
    width: 18%;
    text-align:center;
}
